<h1>{{ 'about.title' | translate }}</h1>

<p [innerHTML]="'about.project' | translate | safeHtml">
</p>
<p [innerHTML]="'about.icons' | translate | safeHtml">
</p>

<nb-card>
  <nb-card-header>
    <h2>{{ 'about.author' | translate }}</h2>
  </nb-card-header>
  <nb-card-body>
    <section>
      <div class="flex flex-col items-center">
        <img alt="Author picture"
             class="rounded-full"
             height="200px"
             src="/assets/images/author.jpeg"
             width="200px">
        <strong>{{ 'about.author_name' | translate }}</strong>
        <span>{{ 'about.author_job' | translate }}</span>
      </div>
      <div class="text-justify">
        <p [innerHTML]="'about.author_description' | translate | safeHtml">
        </p>
        <p [innerHTML]="'about.author_technical' | translate | safeHtml"></p>
        <ul>
          <li>
            • <a href="https://github.com/oscar-guerin/songuesser"
                 target="_blank">
            {{ 'about.git_front' | translate }}
          </a>
          </li>
          <li>
            • <a href="https://github.com/oscar-guerin/songuesser-server"
                 target="_blank">
            {{ 'about.git_api' | translate }}
          </a>
          </li>
        </ul>
        <p [innerHTML]="'about.author_contact' | translate | safeHtml">
        </p>
      </div>
    </section>
  </nb-card-body>
</nb-card>

