.songuesser-icon {
  margin-right: 1.5rem;
}

.title {
  margin-top: 25%;
  margin-bottom: 1.5rem;
  font-size: 3rem !important;
}

p {
  font-size: 1.1rem;
  margin-bottom: 3rem;
}

a {
  padding: 20px 30px;
  border-radius: 100px;
  color: white;
  font-weight: bold;
  background-color: #00D95F;
  text-decoration: none;
  max-width: 400px;
}

a:hover, a:visited, a:focus {
  color: white;
  text-decoration: none;
  box-shadow: 0 0 5px 4px #80808020;
}

.spotify-icon {
  margin-right: 1.5rem;
}

.screenshot-container {
  margin: 100px 0;
  display: flex;
  flex-direction: column;
}

.screenshot {
  border-radius: 40px;
  box-shadow: 0 0 60px 20px white;
}

.screenshot-launcher-legend {
  width: 100%;
  font-weight: bold;
  font-size: 1.1rem;
  text-align: center;
  margin-bottom: 16px;
}
