<ng-select [(ngModel)]="selectedResult"
           [hideSelected]="true"
           [items]="results$ | async"
           [loading]="loading"
           [minTermLength]="2"
           [trackByFn]="trackByFn"
           [typeahead]="query$"
           bindLabel="name"
           appendTo="body"
           placeholder="{{ 'launcher.search' | translate }}"
           typeToSearchText="{{ 'shared.type_2_chars' | translate }}">
  <ng-template let-item="item"
               ng-option-tmp>
    <div class="flex px-3 py-2">
      <img [src]="item.album.images[0].url"
           alt="Album"
           class="rounded-full h-12 w-12"
           height="32"
           width="32"/>
      <span class="flex flex-col pl-3">
        <span>
          {{ item.name }}
        </span>
        <span class="text-sm">
          {{ item.artists | artist }}
        </span>
      </span>
    </div>
  </ng-template>
</ng-select>
