.title {
  margin-bottom: 5rem;
}

img {
  margin-right: 1.5rem;
}

button {
  padding: 30px 50px !important;
  border-radius: 100px !important;
}

section {
  margin-top: 15%;
}

h2 {
  margin-bottom: 3rem;
}

p {
  opacity: 0.7;
  margin-bottom: 1.5rem;
  text-align: justify;
}
