<div class="flex items-center title">
  <img alt="Songuesser Icon"
       height="64px"
       src="/assets/images/favicon.png"
       width="64px">
  <h1>{{ 'home.title' | translate }}</h1>
</div>
<section class="flex justify-center">
  <button [routerLink]="['/', 'app', 'launcher']"
          hero
          nbButton
          shape="round"
          size="giant"
          status="primary">
    <nb-icon icon="play-circle-outline">
    </nb-icon>
    {{ 'game.start' | translate }}
  </button>
</section>
<article>
  <h2>{{ 'home.principle.title' | translate }}</h2>
  <p [innerHTML]="'home.principle.system' | translate | safeHtml"></p>
  <p [innerHTML]="'home.principle.songs' | translate | safeHtml"></p>
  <p [innerHTML]="'home.principle.points' | translate | safeHtml"></p>
</article>
