<nb-card>
  <nb-card-header>
    <sgr-card-title cardTitle="game.listen"
                    icon="headphones-outline">
    </sgr-card-title>
    <small *ngIf="remainingTracks$ | async as remainingTracks">
      <span *ngIf="remainingTracks > 1">
        {{ 'game.songs_remaining' | translate:{songs: remainingTracks} }}
      </span>
      <span *ngIf="remainingTracks === 1">
        {{ 'game.last_song' | translate }}
      </span>
    </small>
  </nb-card-header>
  <nb-card-body>
    <sgr-track-player [reveal]="reveal$ | async"
                      [track]="currentTrack$ | async">
    </sgr-track-player>
  </nb-card-body>
</nb-card>
<section>
  <sgr-update-score (done$)="showSongUpdateScoreCard = false"
                    [class.transparent]="!showSongUpdateScoreCard"
                    [disableControls]="!showSongUpdateScoreCard"
                    [players]="players$ | async"
                    class="transition-opacity duration-300"
                    type="song">
  </sgr-update-score>
  <sgr-update-score (done$)="showArtistUpdateScoreCard = false"
                    [class.transparent]="!showArtistUpdateScoreCard"
                    [disableControls]="!showArtistUpdateScoreCard"
                    [players]="players$ | async"
                    class="transition-opacity duration-300"
                    type="artist">
  </sgr-update-score>
</section>
<section>
  <sgr-scoreboard [players]="players$ | async"></sgr-scoreboard>
  <sgr-track-history [tracks]="trackHistory$ | async"></sgr-track-history>
</section>
