<sgr-track-player [reveal]="reveal$ | async"
                  [track]="currentTrack$ | async">
</sgr-track-player>
<div class="grid grid-cols-2 gap-5">
  <sgr-update-score (done$)="showSongUpdateScoreCard = false"
                    [class.opacity-30]="!showSongUpdateScoreCard"
                    [disableControls]="!showSongUpdateScoreCard"
                    [players]="players$ | async"
                    class="transition-opacity duration-300"
                    type="song">
  </sgr-update-score>
  <sgr-update-score (done$)="showArtistUpdateScoreCard = false"
                    [class.opacity-30]="!showArtistUpdateScoreCard"
                    [disableControls]="!showArtistUpdateScoreCard"
                    [players]="players$ | async"
                    class="transition-opacity duration-300"
                    type="artist">
  </sgr-update-score>
</div>
<div class="grid grid-cols-2 gap-5">
  <sgr-scoreboard [players]="players$ | async"></sgr-scoreboard>
  <sgr-track-history [tracks]="trackHistory$ | async"></sgr-track-history>
</div>
