<nb-card>
  <nb-card-header>
    <h2>
      {{ 'game.update_score.' + type | translate }}
    </h2>
  </nb-card-header>
  <nb-card-body>
    <div class="flex flex-col">
      <button (click)="updateScore(player)"
              *ngFor="let player of players"
              [disabled]="disableControls"
              class="mb-3"
              nbButton
              outline
              size="large"
              status="primary">
        {{ player.name }}
      </button>
      <button (click)="done()"
              [disabled]="disableControls"
              nbButton
              outline
              size="large"
              status="warning">
        <nb-icon icon="minus-circle-outline"></nb-icon>
        {{ 'game.update_score.nobody' | translate }}
      </button>
    </div>
  </nb-card-body>
</nb-card>
