<nb-card>
  <nb-card-header>
    <sgr-card-title cardTitle="game.update_score.{{ type }}"
                    icon="edit-outline">
    </sgr-card-title>
  </nb-card-header>
  <nb-card-body>
    <div class="flex flex-col">
      <button (click)="updateScore(player)"
              *ngFor="let player of players"
              [disabled]="disableControls"
              class="mb-3"
              nbButton
              outline
              size="large"
              status="primary">
        {{ player.name }}
      </button>
      <button (click)="done()"
              [disabled]="disableControls"
              nbButton
              outline
              size="large"
              status="danger">
        <nb-icon icon="minus-circle-outline"></nb-icon>
        {{ 'game.update_score.nobody' | translate }}
      </button>
    </div>
  </nb-card-body>
</nb-card>
