<nb-card>
  <nb-card-header>
    <sgr-card-title cardTitle="game.track_history.title"
                    icon="list-outline">
    </sgr-card-title>
  </nb-card-header>
  <nb-card-body>
    <section class="flex flex-col">
      <div *ngFor="let track of tracks"
           class="flex">
        <img [src]="track.album.images[0].url"
             alt="Album"
             class="rounded-full"
             height="24"
             width="24"/>
        <span class="flex flex-col justify-center track">
          <span>
            {{ track.name }}
          </span>
          <small>
            {{ track.artists | artist }}
          </small>
        </span>
      </div>
    </section>
  </nb-card-body>
</nb-card>
