body {
  --color-primary-100: #ECE6FC;
  --color-primary-200: #CCC1F7;
  --color-primary-300: #A998F2;
  --color-primary-400: #826EEF;
  --color-primary-500: #5F4EEB;
  --color-primary-600: #2D2FE7;
  --color-primary-700: #0D2BE1;
  --color-primary-800: #0024D8;
  --color-primary-900: #001FD2;
  --color-primary-transparent-100: rgba(217, 163, 192, 0.08);
  --color-primary-transparent-200: rgba(217, 163, 192, 0.16);
  --color-primary-transparent-300: rgba(217, 163, 192, 0.24);
  --color-primary-transparent-400: rgba(217, 163, 192, 0.32);
  --color-primary-transparent-500: rgba(217, 163, 192, 0.4);
  --color-primary-transparent-600: rgba(217, 163, 192, 0.48);
  --color-success-100: #CFFDD6;
  --color-success-200: #A0FBB7;
  --color-success-300: #6FF39D;
  --color-success-400: #4AE791;
  --color-success-500: #15D880;
  --color-success-600: #0FB97D;
  --color-success-700: #0A9B77;
  --color-success-800: #067D6B;
  --color-success-900: #046762;
  --color-success-transparent-100: rgba(21, 216, 128, 0.08);
  --color-success-transparent-200: rgba(21, 216, 128, 0.16);
  --color-success-transparent-300: rgba(21, 216, 128, 0.24);
  --color-success-transparent-400: rgba(21, 216, 128, 0.32);
  --color-success-transparent-500: rgba(21, 216, 128, 0.4);
  --color-success-transparent-600: rgba(21, 216, 128, 0.48);
  --color-info-100: #DAFAFF;
  --color-info-200: #B6F1FF;
  --color-info-300: #91E4FF;
  --color-info-400: #76D5FF;
  --color-info-500: #49BCFF;
  --color-info-600: #3594DB;
  --color-info-700: #246FB7;
  --color-info-800: #174F93;
  --color-info-900: #0E377A;
  --color-info-transparent-100: rgba(73, 188, 255, 0.08);
  --color-info-transparent-200: rgba(73, 188, 255, 0.16);
  --color-info-transparent-300: rgba(73, 188, 255, 0.24);
  --color-info-transparent-400: rgba(73, 188, 255, 0.32);
  --color-info-transparent-500: rgba(73, 188, 255, 0.4);
  --color-info-transparent-600: rgba(73, 188, 255, 0.48);
  --color-warning-100: #FFF9D6;
  --color-warning-200: #FFF2AE;
  --color-warning-300: #FFEA85;
  --color-warning-400: #FFE167;
  --color-warning-500: #FFD335;
  --color-warning-600: #DBAF26;
  --color-warning-700: #B78E1A;
  --color-warning-800: #936E10;
  --color-warning-900: #7A570A;
  --color-warning-transparent-100: rgba(255, 211, 53, 0.08);
  --color-warning-transparent-200: rgba(255, 211, 53, 0.16);
  --color-warning-transparent-300: rgba(255, 211, 53, 0.24);
  --color-warning-transparent-400: rgba(255, 211, 53, 0.32);
  --color-warning-transparent-500: rgba(255, 211, 53, 0.4);
  --color-warning-transparent-600: rgba(255, 211, 53, 0.48);
  --color-danger-100: #FFE5DE;
  --color-danger-200: #FFC5BE;
  --color-danger-300: #FF9F9E;
  --color-danger-400: #FF8690;
  --color-danger-500: #FF5E7B;
  --color-danger-600: #DB446E;
  --color-danger-700: #B72F61;
  --color-danger-800: #931D54;
  --color-danger-900: #7A124C;
  --color-danger-transparent-100: rgba(255, 94, 123, 0.08);
  --color-danger-transparent-200: rgba(255, 94, 123, 0.16);
  --color-danger-transparent-300: rgba(255, 94, 123, 0.24);
  --color-danger-transparent-400: rgba(255, 94, 123, 0.32);
  --color-danger-transparent-500: rgba(255, 94, 123, 0.4);
  --color-danger-transparent-600: rgba(255, 94, 123, 0.48);
}
