<div class="flex justify-between">
  <a class="flex items-center"
     routerLink="/home">
    <nb-icon class="mr-2"
             icon="home-outline"
             status="primary">
    </nb-icon>
    <span>
      {{ 'header.home' | translate | uppercase }}
    </span>
  </a>
  <nb-user *ngIf="currentUser$ | async as user"
           [nbContextMenu]="menuItems"
           name="{{ user.displayName }}"
           nbContextMenuTag="user-context-menu"
           picture="{{ user.images.length > 0 ? user.images[0].url : '' }}">
  </nb-user>
</div>
