<div *ngIf="track && reveal"
     class="flex container">
  <img [src]="track.album.images[0].url"
       alt="Album"
       class="rounded-full"
       height="48"
       width="48"/>
  <span class="flex flex-col justify-center track">
        <span>
          {{ track.name }}
        </span>
        <small>
          {{ track.artists | artist }}
        </small>
      </span>
</div>
<div *ngIf="!reveal"
     class="flex container">
  <round-progress [background]="'#F3F4F6'"
                  [current]="timer$ | async"
                  [max]="20"
                  [radius]="40"
                  [stroke]="8"
                  color="#2045D977">
  </round-progress>
  <div class="flex flex-col justify-center placeholder-container">
    <div></div>
    <div></div>
  </div>
</div>
