<nb-card>
  <nb-card-header>
    <sgr-card-title cardTitle="game.scoreboard.title"
                    icon="flash-outline">
    </sgr-card-title>
  </nb-card-header>
  <nb-card-body>
    <section class="flex flex-col">
      <div *ngFor="let player of players"
           class="flex justify-between items-center">
        <nb-user name="{{ player.name }}"
                 size="large"></nb-user>
        <strong>{{ player.score }}</strong>
      </div>
    </section>
  </nb-card-body>
</nb-card>
